<h1>My Grocery List</h1>
<img src="/public/food.jpg" >

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

  <ol>
  <% @foods.each do |food| %>
    <li>
      <h3><%= food.name %>: <%= food.amount %></h3>
    </li>
    <% end %>
  </ol>

  <a href="/foods/new">Add New Foods!</a>
