<h1>Add a new food!</h1>

<% if flash.now[:errors] %>
  <ol>
    <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ol>
<% end %>

<form action="/foods" method="post">
  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label>Name
    <input type="text" name="food[name]">
  </label><br>

  <label>Amount
    <input type="text" name="food[amount]">
  </label><br>

  <input type="submit" value="Add Food!">
</form>
